<%- include partials/header.ejs %>

<div class="home-container">
	<p>Feel free to search for a movie, tv show or game!</p>
	<div id="content">
		<ul id="posters">
		</ul>	
		<div id="list-navigation">
			<nav aria-label="Page navigation example">
			  <ul class="pagination justify-content-center">
			    <span id="num-of-pages">
			    		<li></li>
			    </span>
			  </ul>
			</nav>
		</div>
	</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script type="text/javascript" src="main.js"></script>
</body>
</html>